/* li{
    list-style-type: none;
    width: 30%;
    border: 2em dashed cyan;
    margin-bottom: 25px;
    padding: 2.5rem;
    background: linear-gradient(rgba(72, 255, 0, 0.308), rgba(255, 0, 64, 0.336),rgba(0, 87, 128, 0.397));
}
a{
    text-decoration: none;
}
li:hover{
    text-decoration: underline;
    border-bottom: double;
    background-color: yellow;
}
body{
    background: url('./media/acad.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
    main{
    margin:0 auto;
    width: 70%;
    } */
    :root{
        margin: 0;
        padding: 0;
    }
    header ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-self: flex-start;
          }
a{
    text-decoration: none;
}
header ul li a:hover{
    margn: 0;
    color: fuchsia;
}
li{
    align-self: flex-start;
    margin: 0;
}
section:first-of-type {
    display: inline-block;
    width: 40%;
line-height: 20px;
    
}
 section:first-of-type a{
    border: 1px solid;
    background: fuchsia;
    border-radius: 25px;
    padding: 10px 20px;
    color: white;
}
.image1{
    display: flex;
}
.image2{
    width: 200px;
    height: 400px;
    margin: 20px;
}
section:nth-of-type(4){
    display: inline-block;
    width: 50%;
}
section:nth-of-type(4) a{
border: 1px solid;
    background: fuchsia;
    border-radius: 25px ;
    padding: 5px;
    color: white;
}

